<a href="https://colab.research.google.com/github/Suhail1263/parkins/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTING THE DEPENDENCIES

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.metrics import accuracy_score

DATA COLLECTION AND ANALYSIS

In [ ]:
#loading the data from csv file to Pandas DataFrame
parkinsons_data=pd.read_csv('parkinsons.data')

In [ ]:
#printing first 5 rows of dataset
parkinsons_data.head()

             name  MDVP:Fo(Hz)  MDVP:Fhi(Hz)  MDVP:Flo(Hz)  status
0  phon_R01_S01_1      119.992       157.302        74.997       1
1  phon_R01_S01_2      122.400       148.650       113.819       1
2  phon_R01_S01_3      116.682       131.111       111.555       1
3  phon_R01_S01_4      116.676       137.871       111.366       1
4  phon_R01_S01_5      116.014       141.781       110.655       1

In [ ]:
#number of rows and coloumn in dataset
parkinsons_data.shape

(195, 5)

In [ ]:
parkinsons_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          195 non-null    object
 1   MDVP:Fo(Hz)   195 non-null    float64
 2   MDVP:Fhi(Hz)  195 non-null    float64
 3   MDVP:Flo(Hz)  195 non-null    float64
 4   status        195 non-null    int64
dtypes: float64(3), int64(1), object(1)
memory usage: 7.7+ KB

In [ ]:
parkinsons_data.isnull().sum()

name            0
MDVP:Fo(Hz)     0
MDVP:Fhi(Hz)    0
MDVP:Flo(Hz)    0
status          0
dtype: int64

In [ ]:
#getting statistical measure about data
parkinsons_data.describe()

       MDVP:Fo(Hz)  MDVP:Fhi(Hz)  MDVP:Flo(Hz)      status
count   195.000000    195.000000    195.000000  195.000000
mean    154.228641    197.104918    116.324631    0.753846
std      41.390065     91.491548     43.521413    0.431878
min      88.333000    102.145000     65.476000    0.000000
25%     117.572000    134.862500     84.291000    1.000000
50%     148.790000    175.829000    104.315000    1.000000
75%     182.769000    224.205500    140.018500    1.000000
max     260.105000    592.030000    239.170000    1.000000

In [ ]:
# distribution of target variable
parkinsons_data['status'].value_counts()

1    147
0     48
Name: status, dtype: int64

In [ ]:
# 1----Person affected by Parkinsons
# 0----Person not affected by Parkinsons

In [ ]:
parkinsons_data.groupby('status').mean()

        MDVP:Fo(Hz)  MDVP:Fhi(Hz)  MDVP:Flo(Hz)
status
0        181.937771    223.636750    145.207292
1        145.180762    188.441463    106.893558

DATA PRE-PROCESSING

Seprating the features & Target

In [ ]:
X= parkinsons_data.drop(columns=['name','status'],axis=1)

In [ ]:
Y= parkinsons_data['status']

In [ ]:
print(X)

     MDVP:Fo(Hz)  MDVP:Fhi(Hz)  MDVP:Flo(Hz)
0        119.992       157.302        74.997
1        122.400       148.650       113.819
2        116.682       131.111       111.555
3        116.676       137.871       111.366
4        116.014       141.781       110.655
..           ...           ...           ...
190      174.188       230.978        94.261
191      209.516       253.017        89.488
192      174.688       240.005        74.287
193      198.764       396.961        74.904
194      214.289       260.277        77.973

[195 rows x 3 columns]

In [ ]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
190    0
191    0
192    0
193    0
194    0
Name: status, Length: 195, dtype: int64

SPLITTING THE DATA TO TRAINING DATA & TEST DATA

In [ ]:
X_train, X_test, Y_train, Y_test= train_test_split(X,Y,test_size=0.2,random_state=2)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(195, 3) (156, 3) (39, 3)

DATA STANDARDIZATION

In [ ]:
scaler= StandardScaler()

In [ ]:
scaler.fit(X_train)

StandardScaler()

In [ ]:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
print(X_train)

[[ 0.63239631 -0.02731081 -0.87985049]
 [-1.05512719 -0.83337041 -0.9284778 ]
 [ 0.02996187 -0.29531068 -1.12211107]
 [-0.97953968 -0.77220159 -0.17874128]
 [ 0.68311164 -0.0343547   1.09197003]
 [-0.40523894 -0.44151558 -1.15310677]
 [-0.76749133 -0.65434943 -0.49759268]
 [-0.89792708 -0.75840177 -0.10271198]
 [-0.67923121 -0.66199138  0.00548097]
 [ 1.2921936   0.22899355  1.81167666]
 [-1.61117839 -0.92775403 -0.72026757]
 [-0.16928939 -0.4011683   0.59354573]
 [ 0.17523628  0.01331335 -0.93393574]
 [ 0.32755656 -0.08727243  0.74324597]
 [ 1.81209424  0.58236175  2.30886563]
 [-1.51592219 -0.74836756 -0.5975875 ]
 [-1.02669474 -0.84759108 -0.21845171]
 [-1.14224205 -0.95293924 -0.40925494]
 [-0.03135962  0.30727369 -0.86035465]
 [-0.90447501 -0.79183807 -0.4076827 ]
 [-0.50440397 -0.25521813 -1.18165426]
 [ 2.00691383  0.5281482   2.40030293]
 [ 1.80133871  0.44192707 -0.11587392]
 [-1.24738238 -0.96202098 -0.56724316]
 [ 1.33257665  0.36622746  1.50257319]
 [ 2.08347232  0.50388224  2.27802715]
 [-1.04703565 -0.89124988 -0.71229404]
 [-0.0383308  -0.39763528  0.57921584]
 [-1.00752399 -0.75209993 -0.19192568]
 [-0.90529662 -0.82325867 -0.30517229]
 [-1.02813877 -0.70772125 -0.23713897]
 [-0.45991291 -0.02659092 -0.83656882]
 [-0.20778027 -0.38375794  0.53768609]
 [-0.8519173  -0.5647171  -0.10199324]
 [ 0.60650335  0.00538344  0.83407684]
 [-1.00274376  4.22688524 -0.54161556]
 [ 0.66979171  0.19021896  0.96535934]
 [-0.96470103 -0.80063185 -0.50999096]
 [-0.98073474 -0.83855365 -0.26287888]
 [ 0.57495876  0.2911813   0.59561211]
 [ 0.52927264 -0.07440295  1.11523927]
 [ 2.00932884  0.48808888  2.4907969 ]
 [-0.77122589 -0.64868995 -0.04523517]
 [ 1.63370672  0.35115399  1.95710938]
 [-0.91186944 -0.4688937  -0.97396062]
 [-0.24330839  0.10036513 -0.82257583]
 [ 1.03318936  0.37058005  1.26044737]
 [-1.09722814 -0.73390323 -0.28401435]
 [-1.00413799 -0.24750973 -0.48014075]
 [-0.06895419 -0.37546255 -1.18093552]
 [-0.87818371 -0.66446117 -0.45168311]
 [ 0.90128468  0.27455729  1.13275857]
 [-1.10489644 -0.80882757 -0.32040061]
 [-1.14649945 -0.82228405 -0.25917287]
 [ 1.00729641  0.08037423  1.65523823]
 [ 1.14562454  4.05467556  1.32288798]
 [ 0.30275908  0.36041294 -0.96034947]
 [-1.03996488  0.79382226 -0.30726113]
 [-1.00159849 -0.78192569 -0.21090493]
 [ 1.19621539  0.23990271  1.60056901]
 [ 1.98136943  0.4986547  -0.36437856]
 [ 0.25570362 -0.00745282 -0.87255078]
 [-0.9623856  -0.72465537 -0.39537426]
 [-0.11185185 -0.42274296 -0.93804604]
 [-0.11815081  3.24786284 -1.10674799]
 [-0.06815749 -0.29658434 -0.90363632]
 [-1.16412657 -0.81160747 -0.31271906]
 [-0.3094599   1.65708573 -0.79950875]
 [ 1.28133847  0.59976103 -0.59650939]
 [-0.11608435 -0.40207647  0.64834972]
 [-0.74954054 -0.64107015 -0.41754292]
 [ 0.53945554  2.69334523 -0.81525366]
 [ 0.44990077  0.447066   -0.98990768]
 [-1.1408976  -0.79230324 -0.24805485]
 [-0.45879254  0.0430062  -0.78657141]
 [-0.85351071 -0.634281   -0.52930712]
 [ 0.34234542  0.76593468 -0.8718545 ]
 [ 1.31701598  0.59117768 -0.64848333]
 [ 0.48956181  0.30725154  0.16284029]
 [ 0.24865775  0.07053937 -0.90579255]
 [ 0.50392742  0.06557764 -0.96616677]
 [-0.08892165 -0.2637018  -1.11712481]
 [-0.78628862 -0.61681527 -0.04880642]
 [-0.70126512 -0.54479266 -0.95969811]
 [-0.71423649 -0.67434032 -0.13896347]
 [-0.93407763 -0.78852656 -0.66319506]
 [ 1.66181552  0.43579136 -0.4423844 ]
 [-1.51903432 -1.0180841  -0.69203453]
 [-1.14936261 -0.79773013 -0.28763052]
 [-0.32576749 -0.4144808  -1.18032908]
 [-1.1502589  -0.75945393 -0.33668458]
 [-0.00529238 -0.11342119  0.54943301]
 [ 0.53788702  0.03113349  0.50956536]
 [-0.34578473 -0.41234327 -1.18780848]
 [ 1.30775427  0.41925595 -0.20171853]
 [ 1.15936772  0.13165282  1.7474392 ]
 [ 0.73559467 -0.02120833  1.33021015]
 [-1.089037   -0.56276785 -0.25557917]
 [-0.21099199 -0.48351308  0.37466669]
 [ 0.35910115  0.09606792 -0.96264045]
 [ 1.03983688  0.17237666  1.67879945]
 [ 0.43745224  0.34708936 -0.54127865]
 [ 0.06220358 -0.34029851  0.59410725]
 [-1.43938859 -1.07800141 -0.68630707]
 [ 1.09787195  0.26960663 -0.64403612]
 [-0.17250111 -0.43493686  0.34248058]
 [-1.11049828  4.30694851 -0.25461336]
 [ 0.35200549  2.7755571  -0.88333189]
 [ 1.66171593  0.71139995 -0.69003554]
 [ 0.74883991  0.13647057  0.69812252]
 [ 1.04932266  2.1853992  -0.97604946]
 [-1.07599094 -0.73423549 -0.23682453]
 [ 0.77468307  0.02973801  1.22758744]
 [-0.83787535 -0.77072857 -0.08274446]
 [-0.20304982 -0.4270734   0.53092544]
 [-0.9351731  -0.82428867 -0.70896986]
 [-0.80100279 -0.71513062 -0.01942789]
 [-0.7124688  -0.68209303  0.0835542 ]
 [-1.50656089 -1.00757365 -0.76029245]
 [-0.15380341 -0.40090249  0.5924227 ]
 [ 0.50308092  0.17337344 -0.77262335]
 [-0.99014584  0.19839252 -0.42353991]
 [ 2.21316116  0.69166378  2.5490149 ]
 [ 0.43023209  0.12970357 -0.98114803]
 [-0.21231153 -0.40773595 -1.14587444]
 [-0.48919186 -0.36583812 -1.17594925]
 [-0.19488358 -0.45718711  0.4633638 ]
 [-0.98937403 -0.75026144 -0.22925529]
 [ 1.13651221  0.1325167   1.76808054]
 [ 0.58708364  0.01783207  1.28241389]
 [-0.15833468 -0.49871945 -0.96605447]
 [-0.75372325 -0.72441171 -0.12548708]
 [-0.11785204 -0.46376584  0.34569245]
 [ 2.20021469  0.80374571  2.71347179]
 [-1.01090999 -0.64079327 -0.17305874]
 [-0.43304897  4.28534062 -1.17251277]
 [ 2.57653392  0.72299578  2.67153775]
 [ 0.48679823 -0.15544084  1.01531183]
 [ 0.0398709   2.69038812 -1.04244314]
 [-0.0094253  -0.05019236 -0.8656329 ]
 [ 0.79676677  0.18454841  1.06962168]
 [ 1.06087491  0.10934719  1.65604681]
 [ 1.79792781  0.38741449  2.36452312]
 [ 2.38607133  0.68498538  1.44705046]
 [ 1.12426285  0.69849724 -0.90139026]
 [ 0.02065037 -0.40282959  0.70178361]
 [-0.12151191 -0.10449451  0.2582756 ]
 [-1.04725972 -0.80695585 -0.61180509]
 [-1.22706637 -0.95024795 -0.31545926]
 [-0.06509515 -0.43605546  0.23046931]
 [-1.14303875 -0.85310658 -0.29991649]
 [ 2.11093379  0.54484974  2.56327742]
 [ 0.28164636 -0.07108036 -0.88252331]
 [-0.9096785  -0.6637302  -0.160638  ]
 [-0.35977689  0.19731822 -0.79063679]
 [ 1.01957066  0.19922317 -0.61914972]]

MODEL TRAINING

SUPPORT VECTOR MACHINE MODEL

In [ ]:
model = svm.SVC(kernel='linear')

In [ ]:
model.fit(X_train,Y_train)

SVC(kernel='linear')

MODEL EVALUTION

ACCURACY SCORE

In [ ]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(Y_train,X_train_prediction)

In [ ]:
print("Accuracy score of training data : ",training_data_accuracy)

Accuracy score of training data :  0.8397435897435898

In [ ]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(Y_test,X_test_prediction)

In [ ]:
print("Accuracy score of test data : ",test_data_accuracy)

Accuracy score of test data :  0.8717948717948718

BUILD A PREDICTIVE SYSTEM

In [39]:
import pickle
# Writing different model files to file
with open( 'modelForPrediction.sav', 'wb') as f:
    pickle.dump(model,f)
    
with open('standardScalar.sav', 'wb') as f:
    pickle.dump(scaler,f)